@media only screen and (max-width: 768px) {
        // Estilos Generales

        h1 {
            font-size: 3rem;
            padding: none;
            margin-top: 150px;}
    
        h2 {
            font-size: 1.5rem;}
    
        .margenesNav {
            padding: 3%;
    
            img {
                width: 133%;
                height: auto;}}
    
        footer {
    
            h3 {
                padding: 0;}
    
            height: 1000px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: 1fr 0.8fr 1fr 1.5fr 0.5fr;
            gap: 15px 0px;
            justify-items: center;
            grid-template-areas: ". logo ."
            ". contacto ."
            ". mediosdepago ."
            ". ubicacion ."
            ". derechosreserv .";
    
            .logoFooter {
                text-align: center;
    
                img {
                    width: 142px;
                    height: 64px;
                }
            }
    
            .logoFooter img {
                width: 142px;
                height: 64px;
            }
    
            .redesSociales {
                text-align: center;
                margin-left: 0;
            }
    
            .mediosdePago {
                text-align: center;
            }
    
            .ubicacion {
                text-align: center;
            }
        }
    
    
        // Seccion Proceso
        .seccionProceso {
            img {
                margin-bottom: 0;
            }
    
            .contenedorPadreProceso1 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: 50px 0;
    
                .hijoProceso {
                    width: 500px;
                    margin: 50px 0;
                    padding: 0;
                }
            }
    
            .contenedorPadreProceso2 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
    
                .hijoProceso {
                    width: 500px;
                    margin: 50px 0;
                    padding: 0;
                }
            }
    
        }
    }