@media only screen and (min-width: 320px) and (max-width: 374px) {

    h1 {
        font-size: 2rem;
        padding: none;
        margin-top: 150px;
    }

    h2 {
        font-size: 1.3rem;
    }

    footer {
        margin: 20% 0 0 0;
    }

    .margenesNav {
        padding: 3% 3% !important;

        img {
            width: 133px !important;
            height: auto;
        }
    }

    // Seccion Inicio

    .ventajasReciclaje {
        text-align: center;
        margin: 10% 5% 0 5%;
        height: 1000px;
        background-image: url(../multimedia/so-white.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 20px 0px;
        grid-template-areas:
            "tituloVentaja"
            "variado"
            "sostenible"
            "barato"
            "etico";

        article {
            height: 200px;
            padding-top: 20px;

            i {
                font-size: 4rem;
                border: none;
                color: $marron;
            }
        }

    }

    .seccionConFrase {
        margin-bottom: 3%;

        .frase {
            font-size: 1.2rem;
        }
    }

    .seccionPackaging {
        margin: 30% 0;

        div {

            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            img {
                width: 250px;
                height: auto;
                margin: 3% 0;
            }

        }

    }

    // Seccion Prendas

    .seccionProductos {
        margin: 0 7%;
        padding: 0;

        .contenedorDeProductos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    // Seccion Medidas

    .seccionComoMedirse {
        margin: 0 7%;

        p {
            font-size: 1rem;
        }

        .especificacionesMedidas {
            .especificacionesHijo2 {
                width: 300px;
                height: auto;
            }
        }
    }

    .tablaMiEstilo {
        margin: 0;
        padding: 0;
    }

    .tituloTablas {
        margin-bottom: 4%;
    }

    .seccionPreguntas {
        margin-top: 15%;
        padding: 15% 0;
    }


    // Seccion Proceso

    .seccionProceso {
        img {
            margin-bottom: 0;
        }

        .contenedorPadreProceso1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 50px 0;

            img {
                width: 250px;
            }

            .hijoProceso {
                width: 250px;
                margin: 30px 0;
                padding: 0;
            }
        }

        .contenedorPadreProceso2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            img {
                width: 250px;
            }

            .hijoProceso {
                width: 250px;
                margin: 30px 0;
                padding: 0;
            }

        }
    }

    // Pagina de Error 404

    .fondoError {
        margin: 40% 3%;

        section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "error";

            .error {
                img {
                    width: 300px;
                    height: auto;
                }

                h1 {
                    font-size: 3.5rem;
                }

                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }

        }
    }
}