.seccionProductos {
    padding-left: 300px;
    padding-right: 300px;

    h3 {
        font-family: 'Lato', sans-serif;
        color: $marron;
        margin-top: 3%;
    }

    p {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    ul {
        border-bottom: solid $marron 1px;
        padding: 10px;
    }

    li {
        display: inline-block;
        list-style: none;
        font-family: 'Lato', sans-serif;
    }

    a {
        list-style: none;
        text-decoration: none;
        color: $negro;
    }

    li:hover a {
        color: $rosa;
        font-weight: 800;
    }

    .contenedorDeProductos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            margin: 20px;

            img {
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: 2s;
                    filter: brightness(70%);
                    -webkit-filter: brightness(70%);
                    -moz-filter: brightness(70%);
                }
            }
        }

        .detallesDelProducto {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-top: 3%;

            .botonEstilo{
                margin-top: 5%;
                a {
                    color: $rosa;
                    &:hover {
                        color: white;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }

        }


    }

}