@import "variables";
@import "procesos";
@import "piedepagina";
@import "error404";
@import "medidas";
@import "prendas";
@import "contacto";
@import "inicio";
@import "2encabezado";
@import "titulos";
@import "media-tablet";
@import "media-celular";

body {
    background-image: url(../multimedia/so-white.png);
    
.botones {
    border-color: $marron;
    color: $marron;

    &:hover {
            background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
            background: linear-gradient(to right, #fffcdc, #d9a7c7);
            border-color: $marron;
        }
    }
}

