@import "variables";
@import "procesos";
@import "piedepagina";
@import "error404";
@import "medidas";
@import "prendas";
@import "contacto";
@import "inicio";
@import "2encabezado";
@import "titulos";
@import "media-tablet-768px";
@import "media-movil-320px";
@import "media-tablet-769px-1023px";
@import "media-portatil-1024px-1439px";
@import "media-portatill-1251px-1500px";
@import "media-movilm-375px-767px";

body {
    background-image: url(../multimedia/so-white.png);
    h2 {font-weight: 800;}
    
.botones {
    border-color: $marron;
    color: $marron;

    &:hover {
            background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
            background: linear-gradient(to right, #fffcdc, #d9a7c7);
            border-color: $marron;
        }
    }
}


